<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dixit</title>

</head>

<body>
    <button id="testLogin">Login</button>
    <button id="testAddCards">testAddCards</button>

    <select id="matches-dropdown" name="matches">
    </select>

    <script src="/js/userApi.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/matchApi.js"></script>
    <script src="/js/match.js"></script>


</body>

</html>